/*
@font-face {
  font-family: 'Lato-Heavy';
  src: url('../fonts/Lato-Heavy.ttf');
}

@font-face {
  font-family: 'Lato-Bold';
  src: url('../fonts/Lato-Regular.ttf');
}
*/

@import url('https://fonts.googleapis.com/css?family=Lato');

body, html {
	margin: 0;
	padding: 0;
	font-family: "Lato", sans-serif;
  font-weight: bold;
	background-color: #eee;
}

.header-wrapper {
  padding-bottom: 20px;
  height: 100px;
  border-bottom: 1px dashed #ccc;
	margin-left: 30px;
	margin-top: 30px;
}

.title {
  font-size: 50px;
  margin: 30px;
  position: fixed;
}

.title-box {
  background-color: #fad84a;
  height: 80px;
  width: 80px;
  text-align: right;
  position: fixed;
  display: inline-block;
}

.utils {
  font-size: 28px;
  font-family: "Lato", sans-serif;
}

.utils-wrapper {
  margin: 30px;
  padding-bottom: 20px;
  height: auto;
  border-bottom: 1px solid #ccc;
}

.utils-header {
  font-size: 28px;
  font-family: "Lato", sans-serif;ssssssssssss
}

.utils-text {
  font-size: 18px;
}

.clear {
  padding-bottom: 20px;
  font-size: 28px;
  position: absolute;
   margin: auto;
   right: 0;
   left: 0;
   width: 100px;
   height: 100px;
}

.clear-button {
  background-color: #aaa;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  margin: 4px 2px;
  cursor: pointer;
}

ul, li, label[type=radio] {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: auto;
  cursor: pointer;
  font-size: 18px;
}

input[type=text] {
  width: 40px;
  height: 25px;
}


/*
kolory:
#fad84a - JS
#eeeeee - background
#cccccc - border
#aaaaaa - button
*/
