@import url('https://fonts.googleapis.com/css?family=Lato');



@media screen and (max-width: 759px) {
	.main {
		margin:30px;
	  padding-bottom: 20px;
	  height: 250px;
		width: 100vw;
		display: block;
		position: relative;
		border: 2px dotted blue;
	}

	.book-number {
		font-size: 70px;
		color: #d7d7d7;
		position: relative;
		top:0;
		padding-right: 5px;
	}

	.book-cover-small {
		position: relative;
		left: 30px;
		cursor: pointer;
	}

	.book-description {
		left: 250px;
		height: 236px;
		width: 250px;
		position: relative;
		text-align: center;
		border: 2px dotted red;
	}
}


@media screen and (min-width: 760px) {
	.main {
		margin:30px;
		height: 500px;
		width: 300px;
		position: relative;
		display: inline-block;
		border: 2px dotted blue;
	}

	.book-description {
		margin:30px;
		top: 220px;
		float: left;
		height: auto;
		position: relative;
		text-align: center;
		border: 2px dotted red;
	}
}

@media screen and (min-width: 1024px) {
	.utils-wrapper {
	  margin: 30px;
	  padding-bottom: 20px;
		left: 0;
	  height: auto;
		width: 200px;
		position: relative;
		display: block;
	  border-bottom: 1px solid #ccc;
		border: 2px dotted magenta;
	}
	.clear-wrapper {
		width: 200px;
		height: 50px;
		left: 0;
		display: block;
		position: relative;
		border: 2px dotted magenta;
	}

	.clear {
	  padding-bottom: 20px;
	  font-size: 28px;
	  position: absolute;
		margin: auto;
		right: 0;
		left: 0;
		width: 100px;
		height: 100px;
		z-index: 1;
	}

	.clear-button {
	  background-color: #aaa;
	  border: none;
		border-radius: 5px;
	  color: white;
	  padding: 15px 32px;
	  text-align: center;
	  display: inline-block;
	  font-size: 16px;
	  font-weight: bold;
	  margin: 4px 2px;
	  cursor: pointer;
	}
	.main-wrapper {
		top: 150px;
		position: absolute;
	}
	.main {
		margin:30px;
		height: 500px;
		width: 300px;
		left: 250px;
		right: 0;
		position: relative;
		display: inline-block;
		top:0;
		border: 2px dotted blue;
	}
}

body, html {
	margin: 0;
	padding: 0;
	font-family: "Lato", sans-serif;
  font-weight: bold;
	background-color: #eee;
}

.header-wrapper {
	border-bottom: 1px dashed #ccc;
}

.header {
	margin-left: 30px;
	margin-top: 30px;
	padding-bottom: 20px;
  height: 100px;
}

.title {
  font-size: 50px;
  margin: 30px;
  position: absolute;
}

.title-box {
  background-color: #fad84a;
  height: 80px;
  width: 80px;
  text-align: right;
  position: absolute;
  display: inline-block;
}

.utils-wrapper {
  margin: 30px;
  padding-bottom: 20px;
  height: auto;
  border-bottom: 1px solid #ccc;
}

.utils {
  font-size: 28px;
  font-family: "Lato", sans-serif;
}

.utils-header {
  font-size: 28px;
  font-family: "Lato", sans-serif;
}

.utils-text {
  font-size: 18px;
}
/*
.clear-wrapper {
	width: 100vw;
	height: 50px;
}

.clear {
  padding-bottom: 20px;
  font-size: 28px;
  position: absolute;
	margin: auto;
	right: 0;
	left: 0;
	width: 100px;
	height: 100px;
	z-index: 1;
}

.clear-button {
  background-color: #aaa;
  border: none;
	border-radius: 5px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  margin: 4px 2px;
  cursor: pointer;
}
*/
.clear-button:hover {
	background-color: #7c7c7c;
}
/*
.main {
	margin: 30px;
  padding-bottom: 20px;
  height: 250px;
	width: 100vw;
	position: relative;
	border: 2px dotted blue;
}
*/
.book-number {
	font-size: 70px;
	color: #d7d7d7;
	position: absolute;
	top:0;
	padding-right: 15px;
}

.book-cover-small {
	position: absolute;
	left: 60px;
	cursor: pointer;
}

.book-cover-large-wrapper {
	display: none;
	position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(255,255,255);
  background-color: rgba(255,255,255,0.8);
}

.book-cover-large {
	margin: auto;
  display: block;
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover, .close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
/*
.book-description {
	position: absolute;
	left: 250px;
	height: 236px;
	text-align: center;
	border: 2px dotted red;
}
*/
ul, li, label[type=radio] {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: auto;
  cursor: pointer;
  font-size: 18px;
}

input[type=number] {
  width: 60px;
  height: 35px;
	border: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.book-line {
	width: 50px;
	margin: auto;
}

hr {
	color: #eb3324;
	border-top: 3px solid #eb3324;
}

.book-title {
	font-size: 20px;
	font-weight: bold;

}

.book-author {
	font-size: 18px;
	font-weight: normal;
	font-style: italic;
}

.book-date-pages {
	font-style: italic;
	color: #9a999a;
	margin: 0;
}

.book-link {
	font-style: italic;
	color: #9a999a;
	display: inline;
}

.book-elements {
	position: absolute;
	margin: auto;
	right: 0;
	left: 0;
	width: inherit;
	height: auto;
	display: flex;
	border: 2px dotted green;
}

.book-left {
	display: inline;
	width: 400px;
	text-align: right;
	padding-right: 5px;
}

.book-right {
	display: inline;
	width: 400px;
	text-align: left;
}

a {
	display: inline;
	font-weight: normal;
	font-style: italic;
	text-decoration: underline;
	text-decoration-style: dashed;
}

a:link {
	color: #eb3324;
}

a:hover {
	color: #ff675b
}
